gradio
gradio[oauth]
requests
numpy
pandas
smolagents
smolagents[audio]
smolagents[openai]
smolagents[transformers]
smolagents[litellm]
transformers
wikipedia-api
youtube-transcript-api
torch
duckduckgo_search
google-generativeai
imageio
yt-dlp
markdownify
openpyxl
pytesseract
openai-whisper